<div class="col s12">
    <img id="featured" class="responsive-img" alt="main layout image" src="/images/chris-barbalis-223158-unsplash.jpg"/>
    <button id="btnScrape" class="waves-effect waves-light btn-large" type="button">Let's Scrape</button>
</div>
<nav class="col s12">
    <ul class="left">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="/saved-articles">Saved Articles</a></li>
        <li><a href="/articles">Clear History</a></li>
    </ul>
</nav>
<main id="scrapedArticles" class="col s12">
    {{#each articles}}
        <div class="card" id={{id}}>
            <a href={{link}} target="_blank"><div>
                <picture>{{{image}}}</picture>
                <h3>{{title}}</h3>
                <p>{{summary}}</p>
            </div></a>
            {{#if saved}}
                <a class="waves-effect waves-teal btn-flat saveBtn disabled">Saved</a>
            {{else}}
                <a class="waves-effect waves-teal btn-flat saveBtn">Save Article</a>
            {{/if}}
        </div>
    {{/each}}
</main>
