<nav class="col s12">
    <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/scrape">Scrape</a></li>
        <li class="active"><a href="/saved-articles">Saved Articles</a></li>
        <li><a href="/articles">Clear History</a></li>
    </ul>
</nav>
<main id="savedArticles" class="col s12">
    {{#each articles}}
        <div class="savedCard card" id={{_id}}>
            <a class="btn-floating btn-small waves-effect waves-light red unsaveArticle"><i class="material-icons">close</i></a>
            <a href={{link}} target="_blank"><div>
                <picture>{{{image}}}</picture>
                <h3>{{title}}</h3>
                <p>{{summary}}</p>
            </div></a>
            <!-- Modal Structure -->
            <div id="notesForm" class="modal">
                <div class="modal-content">
                    <h4>New Note</h4>
                    <div class="input-field">
                        <input id="noteTitle" type="text" class="validate">
                        <label for="noteTitle">Note Title</label>
                    </div>
                    <div class="input-field">
                        <textarea id="noteBody" class="materialize-textarea"></textarea>
                        <label for="noteBody">Note Body</label>
                    </div>
                </div>
                <div class="modal-footer">
                <a href="#!" id="submitNote" class="modal-close waves-effect waves-green btn-flat" data-articleId={{_id}}>Submit</a>
                </div>
            </div>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">Notes</div>
                    <div class="collapsible-body notes">
                        {{#each notes}}
                        <div class="noteCard" id={{_id}}>
                            <a class="btn-floating btn-small waves-effect waves-light red deleteNote"><i class="material-icons">close</i></a>
                            <h4>{{title}}</h4>
                            <p>{{body}}</p>
                        </div>
                        {{/each}}
                        <a class="waves-effect waves-light btn modal-trigger" href="#notesForm">Add Note</a>
                    </div>
                </li>
            </ul>
        </div>
    {{/each}}
</main>